{% extends "::base.html.twig" %}

{% block title %}Bienvenue {{ username }} ! {% endblock %}

{% block body %}
<h1>Bienvenue, {{ username }}, au système d'influence automatisé de la Camarilla Lyonnaise.</h1>
<p id="infoversion">Version 0.5 - Etrius Embassy</p>
<p>Voici les options qui s'offrent à vous :</p>
<div class='wholemenu'>
<ul class='menu'>
	{% if admin %}
	<!-- CA, Conteur, Admin -->
	<li><a href="{{ path('listerTour') }}"> Gestion des dates</a></li>
	{% endif %}
	{% if conte %}
	<!-- Conteur -->
	<li><a href="{{ path('listePerso') }}">Personnages interprêtés</a> - <a href="{{ path('listeAValiderPerso') }}">à valider</a></li>
	<li> <a href="{{ path('listerPNJ') }}">Persos non interprêtés (PNJ)</a>
        <li> <a href="{{ path('repondreFiche') }}">Répondre à une fiche d'inter-partie </a></li>
	{% endif %}
	{% if joueur %}
	<!-- Joueur -->
	<li> <a href="{{ path('voirMonPerso') }}">Gérer votre fiche de personnage</a></li>
	<li><a href="{{ path('voirFicheCourante') }}">Rédiger votre fiche d'inter-partie </li>
	<li><a href="{{ path('listeFicheOld') }}">Voir vos anciennes fiches d'inter-partie</li>
	<li><a href="{{ path('listerTour') }}"> Dates de rendu à venir </a></li>
	{% endif %}
	<li><a href="{{ path('ancienTour') }}"> Dates passées </a></li>

</ul>
</div>
<br /><br />
<p>Listing prévisionnel des versions : </p>
<ul class='version'>
	<li class='done'><b>V0.1 - Anarchy Anomaly :</b> création des modèles, lien avec phpBB : <b>fait</b> </li>
	<li class='done'><b>V0.2 - Better Brujah :</b> Gestion des dates d'influence : <b>fait</b> </li>
	<li class='done'><b>V0.3 - Camarilla Concile :</b> gestion des fiches de perso coté joueur : <b>fait</b> </li>
	<li class='done'><b>V0.4 - DiPadoua Dynamite </b> validation des fiches de perso coté conte : <b>fait</b>  </li>
	<li class='done'><b>V0.5 - Etrius Embassy : </b> Création des PNJ influences coté conte : <b>fait</b>  </li>
	<li class='progress'><b>V0.6 - Followers Fun : </b> Rédiger et voir ses fiche d'influence coté joueur : d'ici 2 semaines </li>
	<li><b>V0.7 - Giovanny Grandissimo :</b> Valider une fiche d'influence coté conte : d'ici 3 semaines </li>
	<li><b>V0.8 - Harbringers Hope : </b> Gestion des limitations d'influence : d'ici 4 semaines </li>
	<li><b>V0.9 - Immoderate Inconnu : </b> Actions pour les influences PNJ : d'ici 6 semaines </li>
	<li class='progress'><b>V1.0 - Jalan Justicar : </b> Look propre pour être utilisable par les joueurs : d'ici 7 semaines </i>
	<li>Release candidate</li>
	<li><b>V1.1 - Kyasid Kiwi : </b> Gestion d'un historique propre des actions et validations : d'ici 9 semaines </li>
	<li><b>V1.2 - Lhiannan Legend : </b> Mise en place de pagination là où ça sera nécessaire : d'ici 10 semaines </li>
        <li><b>V1.2 - Lhiannan Legend : </b> Mise en place de filtes là où ça sera nécessaire : d'ici 11 semaines </li>
	<li><b>V1.3 - Malkavian Madness : </b> Gestion d'une IA optionnelle pour les PNJs : d'ici 13 semaines </li>
        <li><b>V1.4 - Naglopers Norms : </b> Gestion par lot / groupe d'IA : d'ici 15 semaines  </li>
        <li>Quand j'aurai que ça à faire :p</li>
	<li><b>V1.5 - Obertu Opposition : </b> Mise en place du reste de la fiche de personnage : d'ici 20 semaines </li>
        <li><b>V1.6 - Pander Party : </b> Récupération de la fiche de perso XLS générée via le site : d'ici 25 semaines </li>
        <li><b>V1.6 - Quetzal Question : </b> Intégration du Kikiview : d'ici 27 semaines </li>
        <li><b>V1.6 - Ravnos Reality : </b> Intégration de la FTA : d'ici 30 semaines </li>
</ul>
<br />
<p><b>Note :</b> la fiche de personnage ne contiendra dans un premier temps que le strict minimum pour les influences. Le reste viendra (peut être) dans un second temps (version 1.5).</p>
<div id='foot'>
	Retour au <a href="/phpBB3/">forum</a>
</div>
{% endblock %}
