{% extends "::base.html.twig" %}

{% block title %}Liste des fiches à valider{% endblock %}

{% block body %}
<h1>Liste des personnages</h1>
<form method='get' id="filter">
<label for="clan">Filtrer : </label><select id="clan" name="clan">
<option value="" {% if clan|length < 1 %} selected {% endif %}>Tous</option>
{% for c in clans %}
    <option value="{{c}}"{% if c == clan %} selected {% endif %}>{{c}}</option>
{% endfor %}
</select>
<script>
    $("#clan").change( function(){
        $('#filter').submit();
    });
</script>
</form>
{% if clan|length > 0 %}
Filtrage : {{clan}}
{% endif %}
<table>
<thead>
<tr>
<th>Nom du personnage</th>
<th>Joueur</th>
<th>Clan</th>
<th>Action</th>
</tr></thead>
<tbody>
{% for perso in persos %}
        {{ include('CamaInflusBundle:Perso:ligneav.html.twig', { 'perso': perso }) }}
{% endfor %}
</tbody>
</table>
{{ include('CamaInflusBundle::footer.html.twig') }}
{% endblock %}
