<tr>
<td>{{ perso.nom }}</td>
<td>{{ perso.clan }}</td>
<td>{{ perso.joueur }}</td>
<td>{{ perso.inactif }}</td>
{% if conte %}
<td> 
<a href="{{ path('editerPerso', {'id': perso.id}) }}">Editer</a> 
</td>
{% endif %}
</tr>
