<tr>
<td>
    <select id="saction_{{index}}">
        <option value=''>Aucune</option>
        {% for key, act in actionlist %}
        <option value="{{ key }}"> {{act.shorttext}}  </option>
        {% endfor %}
    </select>
    <div id="div_saction_{{index}}" class="subcontent">
    
    </div>
        <script>
        $("#saction_{{index}}").change( function(){
            
               $("#div_saction_{{index}}").html("");
               $.ajax({
                url:"{{ path('zone_getAction') }}",
                type:"GET",
                data:"action="+ $('#saction_{{index}}').val(),
                dataType:"html",
                success:function(data){
                     $("#div_saction_{{index}}").html("data");
              
                }
                });
        });
        </script>
</td>
</tr>