<tr>
<td>{{index}}</td>
<td>
    <select id="saction_{{index}}">
        <option value=''>Aucune</option>
        {% for key, act in actionlist %}
        <option value="{{ key }}"> {{act.shorttext}}  </option>
        {% endfor %}
    </select>
</td>
</tr>
<tr>
    <td colspan="2">
    <div id="div_saction_{{index}}" class="subcontent">
    
    </div>
    <script>
        $("#saction_{{index}}").change( function(){
            
               $("#div_saction_{{index}}").html("");
               var value = $('#saction_{{index}}').val();
               if(value !== '') {
               $.ajax({
                url:"{{ path('zone_getAction') }}",
                type:"GET",
                data:"index={{index}}&action="+ value,
                dataType:"html",
                success:function(data){
                     $("#div_saction_{{index}}").html(data);
              
                }
                });}
        });
        </script>
        </td>
</tr>
