{% extends "::base.html.twig" %}

{% block title %}Edition de ma fiche d'inter-partie {% endblock %}
{% block body %}
<h1>Editer ma fiche d'inter-partie</h1>
<h2>{{ perso.nom }} - {{ tour.mois  }}</h2>
<table>
  <thead>
    <tr>
      <th>&nbsp;</th><th> Actions vampiriques ({{ tour.actions }} ce mois-ci) </th>
    </tr>
  </thead>
  {% for i in 1..tour.actions %}
        {{ include('CamaInflusBundle:Fiche:action_ligne.html.twig', { 'action': actions, 'actionlist':actionlist,'index':loop.index}) }}
  {% endfor %}
  <script>
  $(document).ready(function(){
       {% for i in 1..tour.actions %}
               $("#saction_{{i}}").trigger("change");
       {% endfor %}
  });</script>
  <br /><br />
</table>
<br /><br />
<h3>Gestion des influence</h3>
<table>
  {% for influence in influences %}
        {{ include('CamaInflusBundle:Fiche:influence_ligne.html.twig', { 'influence': influence, 'ordreslist': ordreslist}) }}
  {% endfor %}
</table>

<table>
    <thead>
        <tr>
            <th>Gestion des contacts - {{ contact }} points</th>
        </tr>
    </thead>
    <tbody id="contact_target">
    </tbody>
    {% if contact > 0 %}
    <tfooter id="contact_form">
        <tr>
            <td> 
                {{ include('CamaInflusBundle:Fiche:select.html.twig', { "list":list_influ, 'big_index': 'contact', 'small_index':'influ'}) }}
                <input type="hidden" id="contact_max" name="contact_max" value="{{ contact }}"/>
                <input type="number" id="contact_niveau" name="contact_niveau" style="width:30px;" step="1" value="1" min="0" max="{{ contact }}"/>
                <button id="contact_sub">Ajouter</button>
            </td>
        </tr>
    </tfooter>
    {% else %}
    <tfooter>
        <tr>
            <td>Aucun contact</td>
        </tr>
    </tfooter>
    {% endif %}
</table>
{% if contact > 0 %}
<script>
    var current_contact = 0;
    $("#contact_sub").click( function(){
        var niveau = $("contact_niveau").val();
        var max = $("contact_max").val();
        var influ = $("variable_contact_influ").val();
        if(niveau <= max){
            var str = "<input type='hidden' value='"+niveau+"' name='contact_niveau[]' />";
            str += "<input type='hidden' value='"+influ+"' name='contact_influ[]' />";
            str += "<p>"+influ+":"+niveau+"</p>";
            $("#contact_target").append(str);
            var anew = max-niveau
            $("#contact_niveau").attr("max",anew);
            if(anew == 0) {
                 $("#contact_form").hide();
            }
            current_contact++;
        }        
    });
</script>
 {% endif %}
<br /><br />
<table>
    <tr><th colspan="2">Amélioration d'attribut</th></tr>
    <tr><td><label for="justif_influ" class="large">S'entrainer en :</label></td>
    <td><select id="amelio_attr" value="amelio_attr">
            <option value="" >Aucun</option>
            <option value="P">Physique</option>
            <option value="S">Social</option>
            <option value="M">Mental</option>
        </select>
    </td>
    </tr>
</table>

<br /><br />
<table>
    <tr><th colspan="2">Informations complémentaires</th></tr>
    <tr><td><label for="justif_influ" class="large">Commentaires :</label></td>
    <td><textarea id="justif_influ" name="justif_influ" cols="60" rows="5"></textarea></td>
    </tr>
</table>
<br /><br />
<input button type="submit" value="Envoyer" />
<br /><br />
<a href="{{ path('voirFiche') }}">Revenir à la fiche</a>
{% endblock %}
