{% extends "::base.html.twig" %}
{% block title %}Gestion de ma fiche d'inter-partie {% endblock %}
{% block body %}
<h1>Gestion de ma fiche d'inter-partie</h1>
<h2>{{ perso.nom }} - {{ tour.mois }}</h2>
<h3>Actions vampiriques ({{ tour.actions }})</h3>

{% if actions|length < 1 %}
<p>Aucune action sauvegardée.</p>
{% else %}
<table>
  <thead>
    <tr>
      <th> Actions : </th>
    </tr>
  </thead>
  {% for action in actions %}
        {{ include('CamaInflusBundle:Fiche:action_ligne.html.twig', { 'action': action}) }}
  {% endfor %}
</table>
{% endif %}

{% if influences|length < 1 %}
<p>Aucune action sauvegardée.</p>
{% else %}
<h3>Gestion des influence</h3>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Attaque</th>
      <th>Défense</th>
      <th>Dissimuler</th>
      <th>Pister</th>
      <th>Espionner</th>
      <th>Croissance</th>
      <th>Transfert</th>
      <th>Observation</th>
      <th>Spécifique</th>
    </tr>
  </thead>
  {% for influence in influences %}
        {{ include('CamaInflusBundle:Fiche:influence_ligne.html.twig', { 'influence': influence}) }}
  {% endfor %}
</table>
{% endif %}
<h3>Amélioration</h3>
<p>Améliorer son Physique / Social / Mental d'un point</p>
<h3>Commentaires</h3>
{% endblock %}
