{% extends "::base.html.twig" %}

{% block title %}Edition de ma fiche d'inter-partie {% endblock %}
{% block body %}
<h1>Editer ma fiche d'inter-partie</h1>
<form method="POST" action="{{path('sauvegarderFiche')}}">
<h2>{{ perso.nom }} - {{ tour.mois  }}</h2>
<table id="actiontable">
  <thead>
    <tr>
      <th>&nbsp;</th><th> Actions vampiriques ({{ tour.actions }} ce mois-ci) </th>
    </tr>
  </thead>
  {% for i in 1..tour.actions %}
        {{ include('CamaInflusBundle:Fiche:action_edit.html.twig', { 'action': actions, 'actionlist':actionlist,'index':loop.index}) }}
  {% endfor %}
  <script>
  $(document).ready(function(){
       {% for i in 1..tour.actions %}
               $("#saction_{{i}}").trigger("change");
       {% endfor %}
  });</script>
  <br /><br />
</table>
<br /><br />
<h3>Gestion des influences</h3>
<table id="influtable">
  {% for influence in influences %}
        {{ include('CamaInflusBundle:Fiche:influence_edit.html.twig', { 'influence': influence, 'ordreslist': ordreslist}) }}
  {% endfor %}
</table>
<br /><br />
<table id="contacttable">
    <thead>
        <tr>
            <th>Gestion des contacts - {{ contact }} points</th>
        </tr>
    </thead>
    <tbody id="contact_target">
    {% if contact > 0 %}
    <tr>
        <td> 
            {{ include('CamaInflusBundle:Fiche:select.html.twig', { "list":list_influ, 'big_index': 'contact', 'small_index':'influ'}) }}
            {{ include('CamaInflusBundle:Fiche:contact_edit.html.twig') }}
        </td>
    </tr>
    {% else %}
    <tr>
        <td>Aucun contact</td>
    </tr>
    {% endif %} 
     </tbody>
</table>
{% if contact > 0 %}
<script>
    var current_contact = 0;
    $("#contact_sub").click( function(){
        var niveau = $("contact_niveau").val();
        var max = $("contact_max").val();
        var justif = $("contact_justif").val();
        var influ = $("variable_contact_influ").val();
        if(niveau <= max){
            var str = "<input type='hidden' value='"+niveau+"' name='contact_niveau[]' />";
            str += "<input type='hidden' value='"+influ+"' name='contact_influ[]' />";
            str += "<input type='hidden' value='"+justif+"' name='contact_justif[]' />";
            str += "<p>"+influ+":"+niveau+"</p>";
            str += "<p>"+justif+"</p>";
            $("#contact_target").prepend("<tr><td>"+str+"</td></tr>");
            var anew = max-niveau
            $("#contact_niveau").attr("max",anew);
            if(anew == 0) {
                 $("#contact_form").hide();
            }
            current_contact++;
        }        
    });
</script>
 {% endif %}
<br /><br />
{{ include('CamaInflusBundle:Fiche:attribute_edit.html.twig') }}
<br /><br />
{{ include('CamaInflusBundle:Fiche:complementaire_edit.html.twig') }}
<br /><br />
<input button type="submit" value="Envoyer" />
</form>
<br /><br />
<a href="{{ path('voirFiche') }}">Revenir à la fiche</a>
{{ include('CamaInflusBundle::footer.html.twig') }}
{% endblock %}
