{% extends "::base.html.twig" %}

{% block title %}Edition de ma fiche d'inter-partie {% endblock %}
{% block body %}
<h1>Editer ma fiche d'inter-partie</h1>
<h2>{{ perso.nom }} - {{ tour.mois  }}</h2>
<br /><br />
<h3>Actions vampiriques ({{ tour.actions }})</h3>
<table>
  <thead>
    <tr>
      <th> Veuillez choisir une action</th>
    </tr>
  </thead>
  {% for i in 1..tour.actions %}
        {{ include('CamaInflusBundle:Fiche:action_ligne.html.twig', { 'action': actions, 'actionlist':actionlist}) }}
  {% endfor %}
  <br /><br />
</table>
<h3>Gestion des influence</h3>
<table>
  {% for influence in influences %}
        {{ include('CamaInflusBundle:Fiche:influence_ligne.html.twig', { 'influence': influence, 'ordreslist': ordreslist}) }}
  {% endfor %}
</table>
<br /><br />
<h3>Amélioration d'attribut</h3>
<p></p>
<br /><br />
<h3>Commentaires</h3>
<a href="{{ path('voirFiche') }}">Revenir à la fiche</a>
{% endblock %}