<tr class="choix">
      <td> {{ influence.nom }} </td>
      <td><input type="number" step="1" value="0" min="0" max="{{ influence.niveau }}"/></td>
      <td><input type="number" step="1" value="0" min="0" max="{{ influence.niveau }}"/></td>
      <td><input type="number" step="1" value="0" min="0" max="{{ influence.niveau }}"/></td>
      <td><input type="number" step="1" value="0" min="0" max="{{ influence.niveau }}"/></td>
      <td><input type="number" step="1" value="0" min="0" max="{{ influence.niveau }}"/></td>
      <td><input type="number" step="1" value="0" min="0" max="{{ influence.niveau }}"/></td>
      <td><input type="number" step="1" value="0" min="0" max="{{ influence.niveau }}"/></td>
      <td><input type="number" step="1" value="0" min="0" max="{{ influence.niveau }}"/></td>
      <td><input type="number" step="1" value="0" min="0" max="{{ influence.niveau }}"/></td>
</tr>
<tr>
<td colspan="10" class="info">
Domaine : {{ influence.textType }} / Score total : Influence {{ influence.niveau }} + Etiquette Y / Max dans une colonne : {{ influence.niveau }}.
</td>
</tr>
<tr>
<td colspan="10" class="justif">
Justification : 
</td>
</tr>
<tr>
<td colspan="10" class="blank">
&nbsp; 
</td>
</tr>